<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

In [ ]:
import sqlite3
from tabulate import tabulate
conn = sqlite3.connect("../enquete.db")
c = conn.cursor()

In [ ]:
suspects = list(range(5001))

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

In [ ]:
query_vacances = """
SELECT id
FROM employés
INNER JOIN congés_2023 ON employés.id = congés_2023.id_employé
WHERE "2023-12-14" BETWEEN  date_départ_accordée AND date_retour_accordée
"""
disculpés = c.execute(query_vacances)
disculpés = [elem[0]for elem in disculpés.fetchall()]
print("Nombre de personnes absentes le jour du meurtre :",len(disculpés))

In [ ]:
suspects = [suspect for suspect in suspects if suspect not in disculpés]
print("Nombre de personnes suspectes :",len(suspects))

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

In [ ]:
!rm mails_boss.md
from Mail import Mail

query_mails = """
SELECT * FROM mails
WHERE id_expéditeur NOT IN (
    SELECT id_employé FROM congés_2023
    WHERE "2023-12-14" BETWEEN  date_départ_accordée AND date_retour_accordée
)
"""

mails = c.execute(query_mails)

mails = mails.fetchall()

for line in mails:
    mail = Mail(line)
    regex_boss = r"PDG|[Bb]oss|[Pp]atron|(Jean)? ?Dubois"
    mail.find_regex_in_mails(regex_boss, "mails_boss.md")

!open  mails_boss.md

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

In [ ]:
query_employés_louches = """
SELECT * FROM employés
WHERE id IN (728,3789,2309)
"""
employés_louches = c.execute(query_employés_louches)
employés_louches = employés_louches.fetchall()
headers = ["id","nom","prénom","fonction","salaire","date d'embauche","id_projet"]
print(tabulate(employés_louches,headers,tablefmt="fancy_grid"))

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<br></br>
<br></br>

In [ ]:
projet4 = c.execute("SELECT * FROM projets WHERE id_projet = 4")
projet4 = projet4.fetchall()
headers = ["id projet","nom projet","description projet","date début projet","id chef de projet"]
print(tabulate(projet4,headers,tablefmt="fancy_grid"))

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

In [ ]:
query_nombre_employes_projet = """
SELECT COUNT(*)
FROM employés
WHERE id_projet = 4
AND employés.id NOT in (SELECT id
                        FROM employés
                        INNER JOIN congés_2023
                        ON employés.id = congés_2023.id_employé
                        WHERE "2023-12-14" BETWEEN date_départ_accordée AND date_retour_accordée);
"""

nombre_employés = c.execute(query_nombre_employes_projet)
nombre_employés = nombre_employés.fetchone()
print("Nombre d'employés dans le projet TitanAI : ",nombre_employés[0])

In [ ]:
query_infos_employes_projet = """
SELECT *
FROM employés
WHERE id_projet = 4
AND employés.id NOT in (SELECT id
                        FROM employés
                        INNER JOIN congés_2023
                        ON employés.id = congés_2023.id_employé
                        WHERE "2023-12-14" BETWEEN date_départ_accordée AND date_retour_accordée);
"""

membres = c.execute(query_infos_employes_projet)
membres = membres.fetchall()
headers = ["id","nom","prénom","fonction","salaire","date d'embauche","id_projet"]
print(tabulate(membres,headers,tablefmt="fancy_grid"))

In [ ]:
query_moyenne_salaires = """
SELECT projets.nom_projet, AVG(employés.salaire) as salaire_moyen
FROM employés
INNER JOIN projets ON employés.id_projet = projets.id_projet
WHERE employés.id_projet IS NOT NULL
GROUP BY nom_projet
HAVING COUNT(employés.id_projet) > 5
"""

salaires_moyens = c.execute(query_moyenne_salaires)
salaires_moyens = salaires_moyens.fetchall()
headers = ["nom du projet", "salaire moyen"]
print(tabulate(salaires_moyens, headers, tablefmt="fancy_grid"))

<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>

In [ ]:
!rm mails_project.md
for line in mails:
    mail = Mail(line)
    regex_project = "((projet)?[tT]itan[aA][iI])"
    # regex_project = "Titan"
    mail.find_regex_in_mails(regex_project, "mails_project.md")

!open mails_project.md

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

In [ ]:
query_caméras_badges = """
SELECT nom, prénom, lieu_badge,date_heure_badge,type_badge,lieu,heure,action
FROM employés
INNER JOIN reconnaissance_caméras_2023_04_01 on employés.id = reconnaissance_caméras_2023_04_01.id_employé
INNER JOIN badges_2023 ON employés.id = badges_2023.id_employé
WHERE date_heure_badge LIKE "2023-12-14|14:%"
AND heure LIKE "14:%"
AND employés.id IN (728,2309,3789)"""

caméras_badges = c.execute(query_caméras_badges)
caméras_badges = caméras_badges.fetchall()
headers = ["nom","prénom","lieu badge","heure badge","type badge","lieu caméra","heure caméra","action caméra"]
print(tabulate(caméras_badges,headers,tablefmt="fancy_grid"))

In [ ]:
query_caméras_badges = """
SELECT nom, prénom, lieu_badge,date_heure_badge,type_badge,lieu,heure,action
FROM employés
INNER JOIN reconnaissance_caméras_2023_04_01 on employés.id = reconnaissance_caméras_2023_04_01.id_employé
INNER JOIN badges_2023 ON employés.id = badges_2023.id_employé
WHERE date_heure_badge LIKE "2023-12-14|15:%"
AND heure LIKE "15:%"
AND employés.id IN (728,2309,3789)"""

caméras_badges = c.execute(query_caméras_badges)
caméras_badges = caméras_badges.fetchall()
headers = ["nom","prénom","lieu badge","heure badge","type badge","lieu caméra","heure caméra","action caméra"]
print(tabulate(caméras_badges,headers,tablefmt="fancy_grid"))

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

In [20]:
c.execute("""
SELECT date_départ_accordée,date_retour_accordée,id_employé FROM congés_2023 
WHERE id_employé = 340
""")
congé = c.fetchall()
headers = ["date départ","date retour","id"]
print(tabulate(congé,headers,tablefmt="fancy_grid"))

╒═══════════════╤═══════════════╤══════╕
│ date départ   │ date retour   │   id │
╞═══════════════╪═══════════════╪══════╡
│ 2023-12-14    │ 2023-12-15    │  340 │
╘═══════════════╧═══════════════╧══════╛